window {
    background: #313047;
	border-radius: 12px;
	border-style: solid;
	border-width: 0px;
	border-color: rgba(235, 160, 172, 0);
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 14px
}

#active {
	/* This is to underline the button representing the currently active window */
/*	border: solid 2px;*/
	border-radius: 10px;
/*	border-color: rgba(203, 166, 247, 0.9);*/
	background: rgba(203, 166, 247, 0.35);
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #999
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: #eee;
  font-size: 12px
}

button:hover {
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.15);
}

button:focus {
	box-shadow: none
}
