window {
    background: #dce0e8;
	border-radius: 12px;
	border-style: solid;
	border-width: 3.5px;
	border-color: #dd7878;
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 14px
}

#active {
	/* This is to underline the button representing the currently active window */
/*	border: solid 2px;*/
	border-radius: 10px;
/*	border-color: rgba(203, 166, 247, 0.9);*/
	background: rgba(221, 120, 120,0.4);
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #e64553;
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: #e64553;
    font-size: 12px;
}

button:hover {
	border-radius: 8px;
    background-color: rgba(204, 208, 218,1);
}

button:focus {
	box-shadow: none
}
