window {
    background: #F0E7E7;
/*	background: #B1AAB8;*/
	border-radius: 70px;
	border-style: solid;
	border-width: 3.5px;
/*	border-width:0px;*/
	border-color: #947A86;
	border-bottom: none;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
/*	border-color: #B1ABB9;*/
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 0px;
  margin-top: 6px;
}

#active {
/* This is to underline the button representing the currently active window */
/*	border: solid 2px;*/
	border-radius: 25px;
/*	border-color: rgba(203, 166, 247, 0.9);*/
/*	background: rgba(221, 120, 120,0.4);*/
	background: rgba(102, 99, 116, 0.6);
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #e64553;
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: #e64553;
    font-size: 12px;
}

button:hover {
	border-radius: 8px;
    background-color: rgba(204, 208, 218,1);
}

button:focus {
	box-shadow: none
}
